* {
    background-color: black;
    color: aliceblue;
}

#box2 {
    border: 4px;
    border-style: solid;
    border-color: rgba(4, 125, 146, 0.686);
    height: 615px;
    width: 550px;
    border-radius: 10%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

#Heading{
    color: aqua;
    font-size: xx-large;
    margin-left: 200px;
    margin-right: 150px;
    margin-top: 30px;
}
#name{
    font-size: x-large;
    margin-left: 30px;
}
#contact{
    font-size: x-large;
    margin-left: 43px;

}
#email{
    font-size: x-large;
    margin-left: 51px;
}
#date{
    font-size: x-large;
    margin-left: 25px;
}
#type{
    font-size: x-large;
    margin-left: 90px;
}
#password{
    font-size:x-large;
    margin-left: 50px;
}
#passwordsure{
    font-size: x-large;
    margin-left: 1px ;

}
#submit{
    font-size: x-large;
    background-color: white;
    border-radius: 10%;
    color: black;
    margin-top: 15px;
    margin-left: 170px;
}
#reset{
    font-size: x-large;
    background-color: white;
    border-radius: 10%;
    color: black;
    margin-top:15px ;
    margin-left: 15px;
}
#login{
    font-size: small;
    color: aqua;
    margin: 50px;
    margin-bottom: 15px;
    margin-left: 157px;

}